.container {
    display: flex;
    width: var(--default-layout-width);
    max-width: 100%;
    margin-top: var(--default-layout-header-height);
}

.content {
    flex: 1;
    display: flex;
    padding: 32px 24px 36px;
    flex-direction: column;
    min-height: calc(100vh - 59px);
    margin: 0px auto;
    box-sizing: content-box;
    background-color: #ccc;
}
