.wrapper {
    padding: 16px 0;
    position: relative;

    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 8px;
        right: 8px;
        height: 1px;
        background-color: rgba(22, 24, 35, 0.12);
        transform: scaleY(0.5);
    }
}

.label {
    padding: 0 8px;
    margin-bottom: 8px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 18px;
    color: rgba(22, 24, 35, 0.75);
}

.account-item {
    display: flex;
    padding: 8px;
    cursor: pointer;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 12px;
}

.item-info {
    flex: 1;
    height: 32px;
}

.username {
    margin-top: -2px;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 21px;
    color: var(--text-color);
}

.check {
    margin-left: 4px;
}

.fullname {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 15px;
    color: rgba(22, 24, 35, 0.75);
}

.more-btn {
    font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 18px;
    padding: 0px 8px;
    margin-top: 8px;

    color: var(--primary);
    background-color: transparent;
    cursor: pointer;
}
