// Menu wrapper
.menu-list {
    width: 224px;

    .menu-item {
        margin-left: 0;
    }
}

.menu-popper {
    padding-top: 8px;
    padding-bottom: 8px;
}

.menu-body {
    overflow-y: auto;
}

// Header
.header {
    position: relative;
    flex-shrink: 0;
    height: 50px;
    margin-top: -8px;
    display: flex;
    align-items: center;
}
.back-btn {
    margin-left: 28px;
    background-color: transparent;
    cursor: pointer;
}
.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    line-height: 21px;
}

.submenu {
    font-size: 1.4rem;
    padding: 10px 24px;
}
